#about { 
  	text-align:center;
  	// @include background-image(linear-gradient(top, lighten($yellow,20), $orange));
  	@include background-image(linear-gradient(top, $light, lighten($yellow, 20)));
  	padding-bottom: 20px;

  	p {
  		font-size: 1.1em;
  		font-weight: $normal;

  	}
}