body {
  font-family: $fontfamily;
  font-size: 16px;
  font-weight: $normal;
  color: $typeDefault;
  margin: 0;
  padding: 0;
  position: relative;
  // background: $lightgray;
  background-color:$dark;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: $heavy;}
h2 { margin: 0 0 .5em 0; font-size: 1.6em; font-weight: $heavy;}
h3 { margin: 0 0 .5em 0; font-size: 1.3em; font-weight: $heavy;}
h4 { margin: 0 0 .5em 0; font-size: 1em; font-weight: $heavy;}

// p { 
//   margin: 0 0 1em 0; 
//   font-weight: $thin;
// }

.main {
  position: relative;
  // background: $lightgray;
  // margin: 0px 2em 0px;
  // border-radius: 6px;
  // @include big-shadow();
}

.main-raised, .home-raised {
  position: relative;
  background: $light;
  border-radius: 6px;
  @include big-shadow();
  min-height: 570px;
  padding: 1em;
}

.main-raised { margin: 4em 2em; }
.home-raised { margin: -1em 2em 4em 2em; }


strong {
  font-weight: $bold;
}


.highlight { color: $yellow }
.section-header {
    padding: 20px 0;
    text-align: center;
}
.section-header h2 { text-transform: uppercase }
.section-header h5 { 
  letter-spacing: 1px;
  margin: .6em 0;
}

.title-one {
  display: inline-block;
  // font-size: 2.5em;
  padding-bottom:.6em;
  position:relative
}


.modal {
  .modal-content {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    border-radius: 3px;
    border: none;
    .modal-header {
      border-bottom: none;
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 0;
      padding-left: 24px;
      .close {
        color: $gray;
      }
    }
    .modal-body {
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
    }
    .modal-footer {
      border-top: none;
      padding: 7px;
      .btn {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;
        &.pull-left {
          padding-left: 5px;
          padding-right: 5px;
          position: relative;
          left: -5px;
        }
      }
    }
  }
}

.modal .modal-dialog {
  margin-top: 100px;
  z-index: 100;
}

// @media (max-width: 768px) {
//   .title-one {
//     font-size: 1.5em;
//   }
//   .main-raised {
//     margin: 0px;
//     border-radius: 0;
//     box-shadow: none;
//     // padding: 0 20px;
//   }
//   .page {
//     padding: 0 20px;
//   }
// }
// @media (min-width: 768px) and (max-width: 992px) {
//   .section-header {
//       padding: 60px 0 20px 0;
//   }
// }

// .modal .modal-header .close:hover, .modal .modal-header .close:focus {
//   opacity: 1;
//   color: $gray;
// }
// .modal-backdrop {
//   background: rgba(0, 0, 0, 0);
// }

a#scrollUp {
  bottom: 60px;
  right: 20px;
  background-color: $baseblue;
  color: $light;
  padding: 5px 10px;
  @include big-shadow();
}
 
a#scrollUp i{
  font-size: 2em;
}


