.shopping-cart {
	font-size: .8em;
	font-weight: $normal;
	p {font-weight: $normal;}

	.dataTables_length, .dataTables_filter {
		label {
			color: $red;
		}
	}
	.dataTables_filter {
		input {
			@include shadow-2dp();
			margin-left: 10px;
			color: #555555;
			background-color: #ffffff;
			background-image: none;
			border: 1px solid #cccccc;
			border-radius: 5px;
			&:focus {
				border-color: #009688;
				outline: 0;
			}
		}
	}
	.dataTables_length {
		select {
			@include shadow-2dp();
			margin: 0 5px;
		}
	}
	.dataTables_info {
		color: $red;
	}
	.dataTables_paginate {
		// color: $red;
		.pagination {
			@include shadow-2dp();
		}
		ul li {
			font-size: .9em;
		}
	}

	.table-advance {
		margin: 10px 0 !important;
		thead {
			// @include big-shadow();
			@include shadow-6dp();
			background-color: lighten(#03a9f4, 20);
			tr th {
				// @include shadow-2dp();
				// text-align: center;
				font-size: 1.1em;
				font-weight: $bold;
				color: $dark;
				text-transform: uppercase;
			}		
		}
		tbody tr td a {
			@include shadow-4dp();
		}
	}
}


