.shopping-cart {
	font-size: .8em;
	font-weight: $normal;
	p {font-weight: $normal;}

	.dataTables_length, .dataTables_filter {
		label {
			color: $red;
		}
	}
	.dataTables_filter {
		input {
			@include shadow-2dp();
			margin-left: 10px;
			color: $gray;
			background-color: $light;
			background-image: none;
			border: 1px solid $lightgray;
			border-radius: 5px;
			&:focus {
				border: 1px solid $green;
				outline: 0;
				@include shadow-4dp();
			}
		}
	}
	.dataTables_length {
		select {
			@include shadow-2dp();
			margin: 0 5px;
		}
	}
	.dataTables_info {
		// color: $red;
		display: none;
	}
	.dataTables_paginate {
		// color: $red;
		.pagination {
			@include shadow-2dp();
		}
		ul li {
			font-size: .9em;
		}
	}
	table.dataTable thead .sorting::after, 
	table.dataTable thead .sorting_asc::after, 
	table.dataTable thead .sorting_desc::after {
		color: $light;
		opacity: 1; 
	}
	.table-advance {
		margin: 10px 0 !important;
		thead {
			// @include big-shadow();
			@include shadow-4dp();
			// background-color: $baseblue;
			background-color: $dark;
			margin-bottom: 20px;
			tr th {
				// @include shadow-2dp();
				// text-align: center;
				font-size: 1.1em;
				font-weight: $normal;
				color: $light;
				text-transform: uppercase;
			}		
		}
		tbody tr td {
			.input-group {
				// @include shadow-4dp();
				.input-group-addon {
					background-color: $light;
					border: 0;
					color: $baseblue;
					&:hover {
						background-color: $baseblue;
						color: $light;
					}
				}
				.form-control {
					background-color: lighten($baseblue, 40);
					border: 0;
					color: $dark;
				}
				.disable-link {
					pointer-events: none;
					color: $gray;
				}
			}
			.btn {
				@include shadow-4dp();
			}
		}	
		tfoot tr td {
			text-align: right;
			font-size: 1.2em;
			color: $red;
			.total {
				font-weight: $heavy;
				text-transform: uppercase;
				margin-right: 10px;
				color: $blue;
			}
		}
	}
	@media screen and (max-width: 480px) {
		.dataTables_length {
			margin-bottom: 10px;
		}
		.table-advance{
			// float:right;
			// margin-right: 10px;
			thead { display: none; }
		}
	}
	@media screen and (max-width: 767px) {
		.dataTables_length {
			margin-bottom: 10px;
		}
		.dataTables_length, .dataTables_filter {
			text-align: right;
		}
	}
}


