#category {
  .features_items{
    overflow:hidden;
    h2.title {
      color: $light;
      background-color: darken($green,30);
      border-radius: .5em;
      font-size: 1.2em;
      font-weight: $heavy;
      margin: .5em 1em;
      text-transform: uppercase;
      padding: .5em;
      @include shadow-4dp();
    }
    .list-inline {
      li {
        padding: 0;
      }
      .btn {
        margin: 1em 1em 1.5em 1em;
        border-radius: .5em;
        font-weight: $normal;
        color: $blue;
        text-transform: uppercase;
        @include shadow-4dp();
        font-style: italic;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; 
        &:hover {
          background: $blue;
          color: $light;
        }
      }
      .btn.active {
        background-color: $red;
        color: $light;
        font-style: inherit;
      }
    }
    .product-image-wrapper{
      @include big-shadow();
      border:1px solid #F7F7F5;
      overflow: hidden;
      margin-bottom:30px;
      .single-products {
        position: relative;
        &:hover {
          .product-overlay {
            display:block;
            height:100%;
          }
        }
        .productinfo {
          position:relative;
          h2{
            color: $red;
            font-size: 1.4em;
            font-weight: $heavy;
          }
          p{
            font-size: .9em;
            font-weight: $normal;
            color: #696763;
          }
          img{
            width: 100%;
            margin-bottom: 1em;
          }
          .add-to-cart {
            text-transform: uppercase;
            background-color: $light;
            border: 0 none;
            border-radius: 0;
            color: $red;
            font-size: .9em;
            margin-bottom: 25px;
            i{
              margin-right:5px;
            }
          }
        }
        .product-overlay {
          background:$baseblue;
          top: 0;
          display: none;
          height: 0;
          position: absolute;
          -webkit-transition: height 500ms ease 0.1s;
          -moz-transition: height 500ms ease 0.1s;
          -o-transition: height 500ms ease 0.1s;
          transition: height 500ms ease 0.1s; 
          width: 100%;
          display: block;
          .overlay-content {
            bottom: 0;
            margin-top: 1em;
            position: absolute;
            text-align: center;
            width: 100%;
            h2{
              color: #fff;
              font-size: 1.4em;
              font-weight: $heavy;
            }

            .add-to-cart {
              text-transform: uppercase;
              background-color: $light;
              border: 0 none;
              border-radius: .5em;
              color: $red;
              font-size: .9em;
              margin-top: 1em;
              margin-bottom: 1.5em;
              @include shadow-6dp();
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out; 
              i{
                margin-right:5px;
              }
              &:hover {
                background-color: $red;
                color: $light;
              }
            }
          }
          p{
            font-size: .9em;
            font-weight: $normal;
            color: #fff;
          }
        }
      }
      .choose {
        border-top: 1px solid #F7F7F0;
        ul li a {
          color: $dark;
          font-weight: $normal;
          padding-left: 0;
          padding-right: 0;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; 
          &:hover{
            background:none;
            color:#FE980F;
          }
          i{
            margin-right:5px;
          }
        }
      }
    }
  }
}


