#category {


  .features_items{
    overflow:hidden;
    h2.title {
      color: $light;
      // font-family: 'Roboto', sans-serif;
      background-color: $red;
      font-size: 1.2em;
      font-weight: $heavy;
      margin: 10px 15px;
      text-transform: uppercase;
      padding: 5px;
      // margin-bottom: 30px;
      position: relative;
      // border: 1px solid $dark;
      @include shadow-4dp();
    }
    .list-inline {
      li {
        padding: 0;
      }
      .btn {
        margin: 10px 10px 20px 10px;
        // border: 1px solid $dark;
        border-radius: 0;
        font-weight: $bold;
        // background-color: lighten($baseblue,20);
        color: $blue;
        @include shadow-4dp();
        &:hover {
          // font-size: 1.1em;
        }
      }
      .btn.active {
        background-color: $dark;
        color: $light;
      }
    }
    .product-image-wrapper{
      @include big-shadow();
      border:1px solid #F7F7F5;
      overflow: hidden;
      margin-bottom:30px;
      .single-products {
        position: relative;
        &:hover {
          .product-overlay {
            display:block;
            height:100%;
          }
        }
        .productinfo {
          position:relative;
          h2{
            color: $red;
            // font-family: 'Roboto', sans-serif;
            font-size: 1.4em;
            font-weight: $heavy;
          }
          p{
            // font-family: 'Roboto', sans-serif;
            font-size: .9em;
            font-weight: $normal;
            color: #696763;
          }
          img{
            width: 100%;
          }
          .add-to-cart {
            background:#F5F5ED;
            border: 0 none;
            border-radius: 0;
            color: $dark;
            // font-family: 'Roboto', sans-serif;
            font-size: .9em;
            margin-bottom: 25px;
            i{
              margin-right:5px;
            }
          }
        }
        .product-overlay {
          background:$baseblue;
          top: 0;
          display: none;
          height: 0;
          position: absolute;
          transition: height 500ms ease 0s;
          width: 100%;
          display: block;
          h2{
            color: #fff;
            // font-family: 'Roboto', sans-serif;
            // font-size: 24px;
            // font-weight: 700;
          }
          .overlay-content {
            bottom: 0;
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
          }
          .add-to-cart {
            background:#fff;
            border: 0 none;
            border-radius: 0;
            color: $dark;
            // font-family: 'Roboto', sans-serif;
            font-size: .9em;
            margin-bottom: 25px;
            i{
              margin-right:5px;
            }
            &:hover {
              background:#fff;
              color: $red;
            }
          }
          p{
            // font-family: 'Roboto', sans-serif;
            font-size: .9em;
            font-weight: $normal;
            color: #fff;
          }
        }
      }
      .choose {
        border-top: 1px solid #F7F7F0;
        ul li a {
          color: #B3AFA8;
          // font-family: 'Roboto', sans-serif;
          font-size: .9em;
          padding-left: 0;
          padding-right: 0;
          &:hover{
            background:none;
            color:#FE980F;
          }
          i{
            margin-right:5px;
          }
        }
      }
    }
  }
}

// .new, .sale {
//   position: absolute;
//   top: 0;
//   right: 0;
// }



