#devise {
	max-width: 500px;
	min-height: 100px;
	margin: 100px auto 0;
	padding: 2em;
	background: $light;
	border: 1px solid;
	border-radius: 1em;	
	.devise-heading {
		text-transform: uppercase;
	}
	.simple_form {
		label {
			float: left;
			text-align: right;
		}
		div.input {

		}
		div.boolean {

			label {

			}

		}
		input[type='submit'] {
			clear: both;
		}
	}

}

