.copyright { min-height:40px; background-color:$dark;}
.copyright p { text-align:left; color:$light; padding:10px 0; margin-bottom:0px;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:$light; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:$light;  font-size:12px;}