#photo { 
	.gallery {
		margin: 0 auto;
		max-width: 80em;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		transition: all .2s;
		.photo {
			box-sizing: border-box;
			padding: 5px;
			figure {
				position: relative;
				margin: 0;
				overflow: hidden;
				img {
					display: block;
					width: 100%;
				}
				figcaption {
					position: absolute;
					box-sizing: border-box;
					bottom: -4em;
					width: 100%;
					padding: 0 1em;
					background: hsla(0, 0%, 100%, .75);
					transition: bottom .3s;

					h2 {
						font-size: 1.1em;
						font-weight: normal;
						color: $dark;
					}
				}
			}
			&:hover figcaption {
				bottom: 0;
			}
		}
	}
}

.photo a:hover figcaption {
	bottom: 0;
}