div .fullheight {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), image-url("main_2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  .hgroup {

    h1 {
      color: $light;
      font-size: 5em;
      font-weight: 800;
      line-height: .8em;
      text-shadow: $dark 0 0 20px;
      text-align: center;
    }
    h2 {
      color: $light;
      margin: 0 auto;
      text-align: center;
      border: 1px solid $light;
      margin-top: 15px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.5);
      font-size: 1.3em;
    }
    p {
      text-align: center;
      img {
        padding-top: 50px;
        max-width: 50px;
      }
    }
  }
}
