#list-details {
	.product-det {
		margin-bottom: 20px;
		.image-left img {
			@include shadow-z-2();
		}
		.btn {
			text-transform: uppercase;
			// border: 1px solid #fc7700;
			color: $red;
			background-color: $light;
			// border-color: #fc7700;
			@include shadow-2dp();
			&:hover {
				background-color: $red;
				color:$light;					
			}
		}
	}	

	#service-one {
		// border: 1px solid;
		font-weight: $normal;
		padding: 20px;
	}
}