#list-details {
	position: relative;
	.product-det {
		margin-bottom: 1.25em;
		.image-left img {
			@include shadow-z-2();
		}
		.list-name {
			font-size: 1.3em;
			font-weight: $heavy;
			color: $red;
			margin: .6em 0;
		}
		.list-sdesc {
			font-size: 1em;
			font-weight: $bold;
			color: $gray;
			margin: .6em 0;
		}
		.review {
			margin: .6em 0;
			#review-form {
				padding: 1em;
				@include shadow-2dp();
				border: 2px solid $purple;
				border-radius: 1.125em;
				margin: .6em 0;
				#rating-form, .review_comment {
					padding: .5em;
				}

				.btn {
					margin: .5em;
					text-transform: uppercase;
					color: $blue;
					background-color: $light;
					@include shadow-2dp();
					&:hover {
						background-color: $baseblue;
						color:$light;					
					}
				}
			}
		}
		.curr-price {
			margin: 10px 0;
			font-size: 1.1em;
			font-weight: $heavy;
			color: $baseblue;
		}

		.btn {
			text-transform: uppercase;
			margin: .6em 0;
			color: $red;
			background-color: $light;
			border-radius: .5em;
			@include shadow-6dp();
		    -webkit-transition: all 0.5s ease-in-out;
		    -moz-transition: all 0.5s ease-in-out;
		    -o-transition: all 0.5s ease-in-out;
		    transition: all 0.5s ease-in-out; 
			&:hover {
				background-color: $red;
				color:$light;					
			}
		}

		#review-form {
			display: none;
		}
	}	

	.product-info {
		@include big-shadow();
		margin-bottom: 1.25em;
		border-radius: 1.125em;
		.nav {
			padding: 1.25em;
		    li { margin-right: 1em;} 
			li a {
				background: $lightgray;
				color: $red;
				font-style: italic;
			}
			li.active a {
				@include big-shadow();
				background: $red;
				color: $light;
				font-style: inherit;
			}
		}
		#myTabContent {
			#service-one, #service-two{
				font-weight: $normal;
				padding: 1.2em;
				text-transform: capitalize;
			}
			#service-two {
				p { 
					font-style: italic;
					span {
						font-size: .8em;
						text-transform: none;
						font-weight: $bold;
						color: $blue;
						margin-left: 1em;
						
					}
				}
				.row {
					margin-bottom: 1em;
					padding-bottom: .5em;
					border-bottom: 2px solid $yellow;
				}
				a {
					text-decoration: none;
					font-size: .9em;
					// padding: .6em;
					// border: 1px solid $dark;
					// @include shadow-2dp();
				}
				.review-edit {
					display: none;
				}
			}			
		}
	}


}