#header_top {
	$bgDefault      : #063642;
	$bgHighlight    : #df4848;
	$colDefault     : #ecf0f1;
	$colHighlight   : #efc94c;
	$dropDown		: true;

	.cart-text {
		margin-right: 10px;
		a {
			color: $dark;
		}
	}

	.btn {
		margin: 10px;
		font-weight: $normal;
		border-radius: 20px;
		border: none;
		box-shadow: 5px 5px 5px $dark;

		&:hover, &:focus {
		  color: #fff;
		  background-color: #555555;
		}
	}

	.navbar-default {
		// @include background-image(linear-gradient(top, lighten($navBackground, 30), $navBackground));
	  	background-color: #03a9f4;

	  	border-color: $bgHighlight;
		.navbar-brand {
			// color: $colDefault;
			color: $dark;
			font-weight: $normal;
			font-size: 1.5em;
			font-family: $headFont;
			text-align: center;
			text-transform: uppercase;
			// background: $navBrandBg;
				a {
				    color: $navForeground;
				    text-decoration: none;
				    text-align: center;
				    display: inline-block;
				    padding: 10px;
				    font-size: 1.5em;
				}
				&:hover, &:focus {
				  // color: $colHighlight; 
				  color: $light;
				}
		}

	  	.navbar-nav {
		    > li {
		    	// box-shadow: 1px 1px 1px 1px $dark;
		    	@include shadow-4dp();
				> a {
					// color: $colDefault;
					color: $dark;
					// background-color: $bgHighlight;
					background-color: lighten(#03a9f4, 20);
					// margin-top: 5px;
					margin-left: 10px;
					// box-shadow: 1px 1px 1px 1px $dark;
					&:hover,  &:focus {
				  		// color: $colHighlight; 
				  		// color: $colDefault;
				  		color: $dark;
				  	}
				}
		      	@if $dropDown {
		        	> .dropdown-menu {
		          		background-color: lighten(#03a9f4, 20);

		          		> li {
				            > a {
				              	color: $dark;
				              	&:hover,  &:focus {
					                color: $colHighlight;
					                background-color: $bgHighlight; 
					                font-weight: $normal;
				            	}
				        	}
				            > .divider {
				              background-color: $bgHighlight;
				          	}
		          		}
		         	}
		         }
		    }
		    @if $dropDown {
		      	.open .dropdown-menu > .active {
		        	> a, > a:hover, > a:focus {
		          		color: $colHighlight;
		          		background-color: $bgHighlight; 
		      		}
		  		}
		  	}
		    > .active {
		      	> a, > a:hover, > a:focus {
		        	color: $colHighlight;
		        	background-color: $bgHighlight; 
		    	}
			}
		    > .open {
		      	> a, > a:hover, > a:focus {
		        	color: $colHighlight;
		        	background-color: $bgHighlight; 
		    	}
			}
		}

		.navbar-toggle {
			border-color: $bgHighlight;
			background-color: $bgHighlight; 
			&:hover, &:focus {
		  		background-color: $bgHighlight; 
		  	}
			.icon-bar {
		  		background-color: $colDefault; 
		  	}
		}
		.navbar-collapse,
		.navbar-form {
		    border-color: $colDefault; 
		}
	  	.navbar-link {
	    	color: $colDefault;
	    	&:hover {
	      		color: $colHighlight; 
	      	}
	    }
	}
	@media (max-width: 767px) {
	  .navbar-default .navbar-nav .open .dropdown-menu {
	    > li > a {
	      color: $colDefault;
	      &:hover, &:focus {
	        color: $colHighlight; }}
	    > .active {
	      > a, > a:hover, > a:focus {
	        color: $colHighlight;
	        background-color: $bgHighlight; }}}
	}
  
}