.navbar{
    border: 0 none;
    transition: all 0.4s;
    font-size: 14px;
    .navbar-brand {
        font-weight: $heavy;
        font-size: 2em;
        padding: .5em 1em;
        background: $red;
        color: $light;
        transition: all 0.5s ease-in-out; 
    }
}

.navbar-nav > li > a {
    margin: 6px 3px;
    padding: 6px 7px;
    text-align: center;
    min-width: 70px;
    & [class^="fa"]{
        font-size: 1.3em;
    }
}
.navbar-transparent{
    padding-right: 1.2em;
    background-color: rgba(0,0,0,.0);
    .navbar-brand:hover, .navbar-brand:focus {
        background: $light;
        color: $red;
    }
}
.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand{
    color: #FFFFFF;
    opacity: 0.95;
}

.navbar-transparent .navbar-nav > li > a, 
[class*="navbar-ct"] .navbar-nav > li > a{
    color: $light;
    border-color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: .5em 1em;
    background: $baseblue;
    @include big-shadow();
    transition: all 0.5s ease-in-out; 
}

.navbar-transparent .navbar-nav > li > a{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}


.navbar-transparent .navbar-nav > .active > a, 
.navbar-transparent .navbar-nav > .active > a:hover, 
.navbar-transparent .navbar-nav > .active > a:focus, 
.navbar-transparent .navbar-nav > li > a:hover, 
.navbar-transparent .navbar-nav > li > a:focus, 
[class*="navbar-ct"] .navbar-nav > .active > a, 
[class*="navbar-ct"] .navbar-nav > .active > a:hover, 
[class*="navbar-ct"] .navbar-nav > .active > a:focus, 
[class*="navbar-ct"] .navbar-nav > li > a:hover, 
[class*="navbar-ct"] .navbar-nav > li > a:focus {
    background: darken($baseblue,30);
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 1;
}

.navbar-transparent .navbar-nav > .dropdown > a .caret, 
[class*="navbar-ct"] .navbar-nav > .dropdown > a .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar:not(.navbar-transparent).navbar-ct-blue{
    background-color: #34ACDC;
    background-color: rgba(52, 172, 220, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-azzure{
    background-color: #5BCAFF;
    background-color: rgba(91, 203, 255, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-green{
    background-color: #4cd964;
    background-color: rgba(76, 217, 98, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-orange{
    background-color: #FF9500;
    background-color: rgba(255, 152, 0, 0.97);
}
.navbar:not(.navbar-transparent).navbar-ct-red{
    background-color: #FF4C40;
    background-color: rgba(255, 76, 64, 0.98);
}

.navbar:not(.navbar-transparent).navbar-ct-black{
    background-color: $dark;
    // background-color: rgba(255, 255, 255, 0);
    padding-right: 1.2em;
    border-bottom: 1px solid $red;
}
.navbar:not(.navbar-transparent).navbar-ct-gray{
    background-color: $gray;
    // background-color: rgba(255, 255, 255, 0);
    padding-right: 1.2em;
    border-bottom: 1px solid $red;
}
.dropdown-menu > li > a {
    padding: 8px 20px;
    color: #333333;
}
.dropdown-menu > li:first-child > a{
    border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a{
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    // background-color: $red;
    // color: $yellow;
    background-color: $blue;
    color: $light;
    opacity: 1;
    text-decoration: none;
}
.navbar-toggle{
    border: 2px solid $red;
    border-radius: 5px;
    background: $light;
    .icon-bar {
        background: $gray;
    }
}









