@media screen and (max-width: 1000px) {
	h1 { font-size: 2.5em; }
}

@media screen and (max-width: 768px) {
	h1 { font-size: 2.2em; }
	h2 { font-size: 1.8em; }
	h3 { font-size: 1.4em; }
	h4 { font-size: 1.4em; }
    
    .navbar-transparent{
        // padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }

    .navbar-transparent .navbar-nav .open .dropdown-menu, 
    [class*="navbar-ct"] .dropdown-menu {
        background: $gray;
        opacity: 1;
    }

    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, 
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus, 
    .navbar-transparent .dropdown-menu > li > a:hover, 
    .navbar-transparent .dropdown-menu > li > a:focus, 
    [class*="navbar-ct"] .dropdown-menu > li > a:hover, 
    [class*="navbar-ct"] .dropdown-menu > li > a:focus{
        // color: #FFFFFF;
        // background-color: rgba(0,0,0,0);
        background-color: $red;
        color: $yellow;
        opacity: 1;
    }
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a, 
    [class*="navbar-ct"] .dropdown-menu > li > a {
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
    }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: rgba(0,0,0,0);
        border-color: #428BCA;
    }
    .navbar-collapse{
        text-align: center;
    }
}

@media screen and (max-width: 625px) {
	h1 { font-size: 1.8em; }
	h2 { font-size: 1.4em; }
	h3 { font-size: 1.2em; }
	h4 { font-size: 1em; }

	#nav-top {
		ul li {
			span { display: none; }
		}
	}
}

@media screen and (max-width: 425px) {



}

@media (min-width: 768px){
    .navbar-nav > li > .dropdown-menu{
        display: block;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }
    
    .navbar-nav > li.open > .dropdown-menu{
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }
    
    .dropdown-menu:before{
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -11px;
    }
    
    .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -10px;
    }

    .title-one:before {
        color: $orange;
        content: "||";
        left: -40px;
        position: absolute;
        top: 0;
    }
    .title-one:after{
        color: $orange;
        content: "||";
        position: absolute;
        right: -40px;
        top: -2px;
    }
    
}

/************************************ 
team page start 
************************************/

@media screen and (max-width: 959px) {
    #team .member {
        .info {
            margin: 1em 0;
            width: 100%;
            text-align: center;
        }
    }
}

/************************************ 
team page end 
************************************/

/************************************ 
gallery Isotope start 
************************************/
@media screen and (min-width: 40em) {
    .photo {
        width: 50%;
    }
    .double {
        width: 100%;
    }
}

@media screen and (min-width: 60em) {
    .photo {
        width: 33%;
    }
    .double {
        width: 66%;
    }
}

@media screen and (min-width: 80em) {
    .photo {
        width: 25%;
    }
    .double {
        width: 50%;
    }
}
/************************************ 
gallery Isotope end 
************************************/
/************************************ 
bootstrap container adjustment start 
************************************/
@media (min-width: 600px) {
    .container{max-width: 600px;width: 600px;}
}
@media (min-width: 768px) {
    .container{max-width: 900px;}
}
@media (min-width: 992px) {
    .container{max-width: 900px;}
}
@media (min-width: 1024px) {
    .container{width: 970px;}
}
@media (min-width: 1200px){
    .container{width: 1170px;max-width: 1170px;}
}
/************************************ 
bootstrap container adjustment end 
************************************/

