@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

$narrow: 400px;
$small: 768px;
$medium: 992px;
$wide: 1200px;

//Add Color Palette
$blue       : #4557FF;
$green		: #49E83E;
$yellow 	: #FFD432;
$red		: #E84B30;
$purple		: #B243FF;
$orange     : #FC7700;
$gray		: #555555;
$lightgray	: #CCCCCC;
$dark       : #000000;
$light      : #FFFFFF;
$baseblue	: #03a9f4;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $yellow;
$navBrandBg         : $red;
$headersubbg        : $dark;

//Font variables
$fontfamily       : 'Roboto Slab', Helvetica, Arial, sans-serif;

$thin     : 100;
$normal   : 300;
$bold     : 400;
$heavy    : 700;

$headFont   : $normal 1.5em/1.5em $fontfamily;
$mainFont   : $normal 1em/1.5em $fontfamily;
$headColor  : lighten($blue, 20);

/* SHADOWS */
$mdb-shadow-key-umbra-opacity: 0.2;
$mdb-shadow-key-penumbra-opacity: 0.14;
$mdb-shadow-ambient-shadow-opacity: 0.12;