<% if user_signed_in? %>

	<%= link_to(edit_user_registration_path, class: "btn btn-danger") do %>
		<i class="fa fa-user-plus fa-fw"></i> <span class="hidden-xs">Account</span>
	<% end %>

	<%= link_to(destroy_user_session_path, :method=>'delete', class: "btn btn-default") do %>
		<i class="fa fa-sign-out fa-fw"></i> <span class="hidden-xs">Logout</span>
	<% end %>	

<% else %>

	<%= link_to(new_user_registration_path, class: "btn btn-danger") do %>
		<i class="fa fa-user-circle fa-fw"></i> <span class="hidden-xs">Register</span>
	<% end %>

	<%= link_to(new_user_session_path, class: "btn btn-default") do %>
		<i class="fa fa-sign-in fa-fw"></i> <span class="hidden-xs">Login</span>
	<% end %>

<% end %>
