<div class="main-raised">
<section id="category">
    <div class="container">
        <div class="section-header">
            <h2 class="title-one"><span class="highlight"><strong><%= @listing.first.product.name %></strong></span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="features_items">
                <% @listing.each do |list| %>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                    <%= render 'public/category_row', listing: list %>
                    </div>
                <% end %>
            </div><!--features_items-->             
        </div>
    </div>
</section>
</div>


