<div class="row">
    <div class="col-sm-2">
        <span class="product-rating" data-score="<%= review.rating %>"></span>
    </div>
    <div class="col-sm-10">  
        <p>
            <%= best_in_place_if (user_signed_in? && review.user_id == current_user.id), review, :comment, 
                :as => :textarea, 
                :path => listing_review_path(review.listing, review) %> 
            <span class="review-created"> Created <%= time_ago_in_words(review.created_at) unless review.created_at.blank? %> ago</span>
        </p> 
    </div>
</div>



