<div class="page" id="offering">
    <div class="container">
        <div class="section-header animated slideInDown">
            <h2 class="title-one">Our <span class="highlight"><strong>Offerings</strong></span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>